<% provide(:title, "reset password") %>

<h1>PasswordResets#edit</h1>

<%= form_for(@user, url: password_reset_path(params[:id])) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this action from being completed:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :email, @user.email %>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :@user_password, placeholder: "password here" %>
  </div>
  <div class="actions">
    <%= form.submit("Update Password") %>
  </div>
<% end %>
