<%= form_with(model: article, local: true) do |form| %>
  <%= render "layouts/error_messages", obj: form.object %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :article_title %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :article_description %>
  </div>
  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select(:category_ids, Category.all, :id, :name, { prompt: "Can be Empty or Choose multiple categories"}, {multiple: true, size: 10, class: "custom-select"}) %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
