<p id="notice"><%= notice %></p>
<%= render "show_user_info" %>

<% if logged_in? && (current_user == @user || current_user.admin?) %>
  <p>
    <strong>Password:</strong>
    <%= link_to 'Edit profile', edit_user_path(@user) %>
  </p>
  <p>
    <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "alert" %>
  </p>
<% end %>

<h3>Articles created by <%= @user.username %></h3>
<%= "created #{pluralize(@user.articles.count, "article")}" %>
<%= render 'articles/article', articles: @user.articles.paginate(page: params[:page], per_page: 14) %>

<% if logged_in? && (current_user == @user) %>
  <%= render "microposts/micropost_form" %>
<% end %>

<% if @user.microposts.any? %>
  <div class="microposts-container">
    <h2><%= "There are #{pluralize(@user.microposts.count, "posts")}" %></h2>
    <%= will_paginate @microposts, container: false %>
    <table>
      <tr>
        <th></th>
        <th>Author</th>
        <th>Post</th>
      </tr>
      <%= render @microposts %>
    </table>
  </div>
<% end %>
<%= link_to 'Back', users_path %>
