<p id="notice"><%= notice %></p>

<%= gravatar_for @user, size: 100 %>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= link_to 'Edit profile', edit_user_path(@user) %>
</p>

<h3>Articles created by <%= @user.username %></h3>
<%= "created #{pluralize(@user.articles.count, "article")}" %>

<%= render 'articles/article', articles: @user.articles.paginate(page: params[:page], per_page: 5) %>


<%= link_to 'Back', users_path %>
