<tr id="micropost-<%= micropost.id %>">
  <td><%= link_to gravatar_for(micropost.user, size: 20), micropost.user %></td>
  <td><%= link_to micropost.user.username, micropost.user %></td>
  <td><%= micropost.content %></td>
  <td><%= time_ago_in_words(micropost.created_at) %></td>
  <% if logged_in? && (micropost.user == current_user || current_user.admin? ) %>
    <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: "Delete micropost?" } %></td>
  <% end %>
</tr>