<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Rails Tutorial: Alpha Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= @root %>
    <%= render 'layouts/navigation' %>
    <% flash.each do |message_type, message| %>
      <div id="flash-msg" class="alert alert-<%= message_type %>">
        <%= message %>
        <button class="close-btn" onclick="document.getElementById('flash-msg').style.display='none'">
          <span>&times;</span>
        </button>
      </div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
